body {
    color: #fff;
    background-color: #4300b0;
}

.stButton>button {
    color: #4F8BF9;
    height: 6em;
    width: 6em;
}

.css-1aumxhk {
background-color: #fa803e;
background-image: none;
color: #ffffff
}
